<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/spinner.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Sportify</title>
</head>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand nostyle" href="/">Sportify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active nostyle" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nostyle" href="/find">Find a teammate</a>
        </li>

        <li class="nav-item">
          <a class="nav-link nostyle lastitem" href="/event" tabindex="-1" aria-disabled="true">Start event</a>
        </li>
      </ul>
      <div class="d-flex">
        <% if(user) { %>
          <div class="logout">
          Hello, <%= user.email %>
          <button class="btn btn-outline-light" onclick="location.assign('/logout')">
            Logout
          </button>
          <% } else { %>
          <button id="login"class="btn btn-outline-light login" onclick="location.assign('/login')"> 
            Login
          </button>
          <% } %>
      </div>
    </div>
  </div>
</nav>
<body>
    
    <section class="webgl"></section>
    
    <div class="box1 box" id="box1">
        <div id="find_yr" class="boxtext bigtext">
          Find your<br>
          <span class="typed"></span>
        </div>
    </div>
    <div class="box2 box" id="box2">
        <div class="boxtext bigtext">
          Find casual games, events and activities near you.
        </div>
    </div>
    <div class="box3 box" id="box3">
        <div class="boxtext bigtext">
            Get the last member and complete your team.
        </div>
    </div>
    <div class="box4 box" id="box4">
        <div class="boxtext bigtext">
            Share your best moments with other athletes.
        </div>
    </div>
    <div class="box5 box" id="box5">
        <div class="boxtext bigtext">
          Put your shoes on<br>
          It's time to get 
          active
          <!-- <div class="activ"><i>active</i></div> -->
        </div>
    </div>
    <div class="box6 box" id="box6">
        <div class="boxtext bigtext">
          What are you waiting for?
        </div>
        <a class="homectalinks"href="#">
        <button class=" homecta btn btn-outline-light">
          Login
        </button>
      </a> 
      <a class="homectalinks"href="#">
        <button class=" homecta btn btn-outline-light">
         Start Group 
        </button>
      </a>
      <a class="homectalinks"href="#">
        <button class=" homecta btn btn-outline-light">
         Find Group 
        </button>
      </a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="./assets/three.js"></script>
    <script type=module src="./assets/my3js.js"></script>
    <section id="loading-screen">
      <div class="spinner">
      <div class="loading">
        <div class="arc"></div>
        <div class="arc"></div>
        <div class="arc"></div>
      </div>
      </div>
    </section>
   
</body>

</html>