
html
{
    margin: 0px;
    overflow-x: hidden;

}
body{
    margin-top: 0;
    margin-left: 0;
    background-image:linear-gradient(180deg, rgba(22,10,71,1) 0%, rgba(96,4,122,1) 100%);
    height: 90vh;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Bebas Neue';

}

.detailscont
{
   margin-top: 10vh;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#map 
{
    height: 80%;
    width: 40vw;
}
.ldetails
{
    height: fit-content;
    width: 50vw;
    background-color: rgba(135, 24, 179, 0.466);
    padding-bottom: 20px;
}

.gm-svpc
{
  display: none;
}
.selector-control {
margin-top: 10px;
}

#searchInput,#name,#minpeeps,#description,#Activity,#datepicker
{
margin: 20px 10% 0 10%;
width: 80%;

}
#latitude,#longitude
{
  display: none;
}


.datepicker
{
  margin: 20px 10% 0 10%;
width: 80%;
}
  