
html
{
    margin: 0px;
    overflow-x: hidden;

}
body{
    margin-top: 0;
    margin-left: 0;
    background-image:linear-gradient(180deg, rgba(22,10,71,1) 100%, rgba(96,4,122,1) 100%);
    height: 90vh;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Bebas Neue';

}

.detailscont
{
   margin-top: 10vh;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#map 
{
    height: 80%;
    width: 40vw;
    order: 2;
}
.ldetails
{
    height: fit-content;
    width: 50vw;
    background-color: rgba(135, 24, 179, 0.466);
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 20px;
    order: 1;
}
.gm-svpc
{
  display: none;
}

.selector-control {
margin-top: 10px;
}

.viewr1
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px ;
  font-size: 3em;
}

.viewr1 i,.viewr1 span,.viewr1 img
{
  margin: auto 0px auto 0px;
}
.viewr1 span
{
  font-size: 1em;
}
.viewr1 img
{
  height: 48px;
  width: 48px;
}

.viewname
{
  font-size: 1.3em;
  margin-bottom: 10px;
  text-align: center;
}
.viewr2,.viewr5
{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 20px;
}
.viewdthead
{
  font-size: 1.3em;
}
.viewr3,.viewr4
{
display: flex;

}
.viewdeschead,.viewhead
{
font-size: 1.3em;
/* margin-right: 10px; */
margin: auto 10px auto 0;
}
.viewdesc,.viewaddr
{
  width: 70%;
margin: auto 10px auto auto;
}
.btn-outline-success
{
  color: greenyellow!important;
}

.viewpeeps
{
  margin:10px 0 20px 0;
  text-align: center;
}
.maxpeeps
{
  font-size: 1.8em;
}

@media screen and (max-width: 740px) {
  body {
    background-image:linear-gradient(180deg, rgba(22,10,71,1) 100%, rgba(96,4,122,1) 100%);
  }

  .detailscont
  {
     /* padding-top: 9vh; */
      width: 100vw;
      height: fit-content;
      display: flex;
      flex-direction: column;
  }
  
  #map 
  {
      height: 70vh;
      width: 100vw;
      order: 1;

  }

  .ldetails
{
    height: fit-content;
    width: 100vw;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 20px;
    order: 1;
}

  }
