
html
{
    margin: 0px;
    overflow-x: hidden;

}
body{
    margin-top: 0;
    margin-left: 0;
    background-image:linear-gradient(180deg, rgba(22,10,71,1) 0%, rgba(96,4,122,1) 100%);
    height: fit-content;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Bebas Neue';

}

.mapwindow
{
   padding-top: 10vh;
    width: 100vw;
    height: 90vh;
    display: flex;
}

#map 
{
    height: 100%;
    width: 70vw;
    /* display: none; */
}
.mapfilter
{
    height: 100%;
    width: 30vw;
    background-color: rgba(135, 24, 179, 0.466);
}

.gm-svpc
{
  display: none;
}
.selector-control {
margin-top: 10px;
}

#searchInput
{
margin: 20px 10% 0 10%;
width: 80%;

}

.datepicker
{
  margin: 20px 10% 0 10%;
width: 80%;
}


/* Find Card */

.findcont
{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    align-items: center;

}
.findcard
{
  background-color: aliceblue;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 5% 20px 5%;
  display: block;

}

.factivity
{
  font-size: 2em;
  font-weight: 600;
  display: flex;
}
.factivity img{
  margin-left: auto;
  margin-right: 10px;
}
.fbtnrow
{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}