@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*
{
    scroll-behavior: auto!important;
}
body{
    margin-top: 0;
    margin-left: 0;
    background-image:radial-gradient(circle, rgba(156,15,95,1) 0%, rgba(96,4,122,1) 50%, rgba(22,10,71,1) 100%);
    min-height: calc(6000px + 100vh);
    font-family: 'Ubuntu', sans-serif;
}

section.webgl{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
.bigtext
{
color: white;
font-size: 4.5em;
line-height: 1.1em;
}


.box
{
    z-index: 2;
    position: fixed;
    margin-left: 30px;
    margin-top: 100px;
    background-color: #00000000;
    height: fit-content;
    width:60vw;
    /* border-radius: 10px; */
}

.box1
{
    display: none;
}
.box2
{
    display: none;
}
.box3
{
 display: none;
}
.box4
{
 display: none;
}
.box5
{
 display: none;
}
.box6
{
 /* display: none; */
}
.btn-outline-light
{
    margin-right: 10px;
}

.activ
    
{
    font-family: 'Bebas Neue';
    line-height: 1em;
    font-size: 1.7em;
}
.homecta
{
margin-top: 5vh;
}

.homecta a:link {
    text-decoration: inherit;
    color:inherit;
    cursor: pointer;

}
.homectalinks{

    color:rgba(0, 0, 0, 0)!important;
    cursor: pointer;

}

.homecta a:visited {
    text-decoration: none;
    color:white;
    cursor: auto;
}

@media screen and (max-width: 991px) {
   
   
  }
  